@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-black text-white
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 10px #5746c0; 

  }
  .text-shadow2 {
    text-shadow: 2px 2px 10px #0713bc; 

  }

  .all_course {
    @apply text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-3 py-1 text-center me-1 mb-1 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-blue-950 dark:hover:bg-yellow-400 dark:focus:ring-yellow-900
 mt-2
  }
  .tag{
    @apply bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 rounded-lg px-1 font-extrabold py-1 hover:bg-purple-900 
  }
  .tag2{
    @apply bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 text-black rounded-lg  px-2 py-1 

  }
  .tag3{
    @apply bg-gradient-to-br from-pink-500 to-orange-400 rounded-lg px-2 py-1
  }
  .tag4{
    @apply bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 rounded-lg p-1 text-blue-900 px-2 py-1
  }
  
  .box{
    box-shadow: -3px -3px 7px #ffffff,
                 3px 3px 5px #ceced1;
                 justify-content: center;
                 display: block;
                 margin: auto;
                 width: 90%;
  }
  .no{
    background: url("/modern.webp") no-repeat center center/cover;
    border-radius: 10px;
  }
  .sha{
      -webkit-box-shadow: 5px 5px 13px #1b263c, -5px -5px 13px #6b98f0;
    box-shadow: 5px 5px 13px #0c97bd, -5px -5px 13px #fbf4f3;
  }
  .sha2{
    -webkit-box-shadow: 5px 5px 13px #1b263c, -5px -5px 13px #6b98f0;
  box-shadow: 5px 5px 13px #0885d3, -5px -5px 13px #07699e;
}
.card{
background: #000000;
box-shadow: 5px 5px 14px #0a025b, -5px -5px 14px #3f055f;
}
.checkout{
  -webkit-border-radius: 0px;
border-radius: 0px;
background: #000000;
-webkit-box-shadow: 5px 5px 7px #273e70, -5px -5px 7px #355498;
box-shadow: 5px 5px 7px #978dd437, -5px -5px 7px #0d046b;
}

}
  